// ==================
// 基础变量
// ==================


// color
$bg-color = #E2E2E2
$app-color = #2c3e50


// navbar
$nav-height = 60px
$nav-padding = 10px
$navbackgroundColor = #fff
$navSiteWidth = 220px
$navLogoWidth = 40px
$navLogoHeight = 40px
// sidebar
$sidebar-width = 220px
$sidebar-color = #fff
$sidebar-bg-color = #304156

// main-container

$main-padding = 20px
